<div class="col-lg-10 col-md-10 col-sm-12">
  <div class="card-deck">
    <% products.each do |product| %>
      <div class="card" style="width: 250px;">
        <% if product.image? %>
          <%= link_to image_tag(product.image.image400.url, alt: 'Image Not Found'), product, class: 'card-img-top' %>
        <% else %>
          <p class="border border-dark" style="background-color:gray;width:250px;height:176px;">No Image</P>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">商品名:<%= link_to product.name, product %></h5>
          <p class="card-text">値段:<%= product.price %>ペリカ</p>
          <p>出品者:<%= product.user.name %></p>
        </div>
      </div>
    <% end %>
  </div>                         
</div>